* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100%;
  background-color: #111;
  color: #fff;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap:wrap ;
}

.card {
  height: 330px;
  width: 280px;
  background-color: #ede6e6;
  color: #111;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOP SECTION */
.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #dadada;
  background-color: transparent;
  color: #8b8b8b;
  cursor: pointer;
}

/* CENTER SECTION */
.center h3 {
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center h3 span {
  font-size: 10px;
  font-weight: 400;
  color: #4e0f0f;
}

.center h2 {
  font-size: 20px;
  margin-top: 5px;
}

.center .tag {
  display: flex;
  margin-top: 12px;
  gap: 6px;
}

.center .tag h4 {
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 4px;
}

/* BOTTOM SECTION */
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.bottom h3 {
  font-size: 17px;
}

.bottom p {
  font-size: 10px;
  color: #8b8b8b;
}

.bottom button {
  background-color: black;
  color: rgb(225, 203, 203);
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
