* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  white-space: nowrap;
  text-decoration: underline;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(50, 50, 183);
}
.nav div{
  display: flex;
  align-items: center;
  gap:40px;
  /* background-color: ; */
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}