* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
}

.nav {
  display: flex;
  background-color: lightseagreen;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
}
.light {
  display: flex;
  background-color: lightseagreen;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: lightseagreen;
}
.dark {
  display: flex;
  background-color: lightseagreen;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: darkslategray;
}
.nav2 {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
